<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/css/bootstrap.css">
</head>
<body>
    <Header>
        <div class="d-flex justify-content-between align-items-center header-container">
            <div class="header-agency-logo-container">
                <img src="../assets/AgencyLogo.png" alt="agency-logo">
            </div>
            <div class="d-flex flex-column align-items-end justify-content-end">
                <div class="d-flex align-items-center gap-3">
                    <span class="user-desc">John Vick</span>
                    <span><img src="../assets/user-solid.png" alt="" height="20px" width="20px"></span>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <span class="user-desc">(123)456 7890</span>
                    <span><img src="../assets/phone-solid.png" alt="" height="20px" width="20px"></span>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <span class="user-desc">john.vick@gmail.com</span>
                    <span><img src="../assets/envelope-solid.png" alt="" height="15px" width="20px"></span>
                </div>
            </div>
        </div>
    </Header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navigation-container" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto me-lg-0 mb-2 mb-lg-0 gap-4">
                    <li class="nav-item" class="nav-item">
                        <a href="homePage.html">Home</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="aboutPage.html"  class="active-tab">About</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="privacyPage.html">Privacy</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="#">Brokerforce <sup>&reg;</sup></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="pb-5">
        <p class="about-heading">About</p>
        <p class="about-desc pb-4">
            <span class="utility-headiing">Author: </span> 
            <span>DataForce, Inc. DBA BrokerForce®</span> 
        </p>
        <p class="about-desc pb-4">
            <span class="utility-headiing">Agency: </span> 
            <span>Agency name, phone, email</span>
        </p>
        <p class="about-desc pb-4">
            <span>WebOrderIt is a business-to-business application for entering and managing wholesale and OEM orders. Designed by a former retailer and manufacturer’s rep, this site is intended to be efficient, industrial, and aesthetic. Our goal is to make your job secure, accurate, fun, and fast. </span>
        </p>
        <p class="about-desc pb-4">
            <span class="utility-headiing">Support: </span>
            <span>Send feedback (email link or form submission)</span>
        </p>
         
    </div>

</body>
</html>