<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faq</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/css/bootstrap.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

</head>

<body>
    <Header>
        <div class="d-flex justify-content-between align-items-center header-container">
            <div class="header-agency-logo-container">
                <img src="../assets/AgencyLogo.png" alt="agency-logo">
            </div>
            <div class="d-flex align-items-center">

                <div class="d-flex flex-column align-items-end justify-content-end">
                    <div class="d-flex align-items-center gap-3">
                        <span class="user-desc">John Vick</span>
                        <span><img src="../assets/user-solid.png" alt="" height="14px" width="14px"></span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <span class="user-desc">(123)456 7890</span>
                        <span><img src="../assets/phone-solid.png" alt="" height="14px" width="14px"></span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <span class="user-desc">john.vick@gmail.com</span>
                        <span><img src="../assets/envelope-solid.png" alt="" height="10px" width="14px"></span>
                    </div>
                </div>
            </div>
        </div>
    </Header>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navigation-container" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto me-lg-0 mb-2 mb-lg-0 gap-4">
                    <li class="nav-item" class="nav-item">
                        <a href="homePage.html" class="">Home</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="aboutPage.html">About</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="privacyPage.html">Privacy</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="faq.html" class="active-tab">FAQ</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="google.com" target="_blank">Brokerforce <sup>&reg;</sup></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <p class="about-heading">Frequently Asked Questions</p>
    </div>
    <div class="row faq-container gx-0">
        <div class="col">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck1" class="faq-input">
              <label class="tab-label" for="chck1">Question 1</label>
              <div class="tab-content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
              </div>
            </div>
            <div class="tab">
              <input type="checkbox" id="chck2" class="faq-input">
              <label class="tab-label" for="chck2">Question 2</label>
              <div class="tab-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
              </div>
            </div>
            <div class="tab">
              <input type="checkbox" id="chck3" class="faq-input">
              <label class="tab-label" for="chck3">Question 3</label>
              <div class="tab-content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus error saepe aliquam inventore voluptatibus ipsum officiis distinctio explicabo in quia sit, nisi accusantium quis aperiam. Fugiat in officiis ipsam fuga.
              </div>
            </div>
          </div>
        </div>
      </div>



    <script src="../scripts/script.js"></script>
    <script src="../styles/js/bootstrap.bundle.min.js"></script>

</body>

</html>