<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/css/bootstrap.css">
</head>
<body>
    <div class="login-bg-img">
        <div class="sign-in-container">
            <form action="#">
                <p class="signin-heading">Forgot password</p>
                <div class="mt-4 input-container">
                    <label for="" class="label-class">Email Address</label>
                    <input type="text" name="" id="" class="input-class" placeholder="Enter email Address">
                </div>

                <a href="#" class="signin-btn" onclick="alertshow()">Confirm</a>
            </form>
        </div>
        <div id="alert-hide" class="alert alert-success alert-dismissible fade show position-absolute top-0 end-0 py-2 " style="z-index: 99;" role="alert">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" height="20px" width="20px">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </span>
            <strong>Successfully</strong> sent the link to email.
            <button type="button" class="btn-close button-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="comapny-logo mt-4">
            <img src="../assets/AgencyLogo.png" alt="">
        </div>
        <div class="web-order-it">
            <img src="../assets/Group.png" alt="">
        </div>
    </div>
    <script src="../scripts/script.js"></script>
</body>
</html>