<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/css/bootstrap.css">
</head>
<body>
    <Header>
        <div class="d-flex justify-content-between align-items-center header-container">
            <div class="header-agency-logo-container">
                <img src="../assets/AgencyLogo.png" alt="agency-logo">
            </div>
            <div class="d-flex flex-column align-items-end justify-content-end">
                <div class="d-flex align-items-center gap-3">
                    <span class="user-desc">John Vick</span>
                    <span><img src="../assets/user-solid.png" alt="" height="20px" width="20px"></span>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <span class="user-desc">(123)456 7890</span>
                    <span><img src="../assets/phone-solid.png" alt="" height="20px" width="20px"></span>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <span class="user-desc">john.vick@gmail.com</span>
                    <span><img src="../assets/envelope-solid.png" alt="" height="15px" width="20px"></span>
                </div>
            </div>
        </div>
    </Header>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navigation-container" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto me-lg-0 mb-2 mb-lg-0 gap-4">
                    <li class="nav-item" class="nav-item">
                        <a href="homePage.html" >Home</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="aboutPage.html">About</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="privacyPage.html" class="active-tab">Privacy</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a href="#">Brokerforce <sup>&reg;</sup></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="pb-5">
        <p class="about-heading">Privacy</p>
        <p class="about-desc">
            <span class="u-primary-heading" style="font-weight: 600">DataForce, Inc. - Privacy Statement</span> 
            <p class="about-desc pb-3">(Last updated October 2022)</p>
        </p>
        <p class="pb-3 about-desc">Sharing of Your Personal Information Except as described in this statement, we will not disclose your personal information outside of DataForce, Inc. and its controlled subsidiaries and affiliates without your consent. We may access and/or disclose your personal information if we believe such action is necessary to: (a) comply with the law or legal process served on DataForce, Inc.; (b) protect and defend the rights or property of DataForce, Inc. (including the enforcement of our agreements); or (c) act in urgent circumstances to protect the personal safety of users of DataForce, Inc. services or members of the public. (d) if provided by you with the intention to relay to a supplier through users of DataForce, Inc. or services.</p>
        <p class="privacy-geading pb-3">Security of Your Personal Information</p>
        <p class="pb-3 about-desc">DataForce, Inc. is committed to protecting the security of your personal information. We use a variety of security technologies and procedures to help protect your personal information from unauthorized access, use, or disclosure. For example, we store the personal information you provide on computer systems with limited access, which are located in controlled facilities. When we transmit highly confidential information (such as a credit card number or password) over the Internet, we protect it through the use of encryption, such as the Secure Socket Layer (SSL) protocol.</p>
        <p class="privacy-geading pb-3">Changes to This Privacy Statement</p>
        <p class="pb-5 about-desc">We will occasionally update this privacy statement to reflect changes in our services and customer feedback. When we post changes to this Statement, we will revise the "last updated" date at the top of this statement. If there are material changes to this statement or in how DataForce, Inc. will use your personal information, we will notify you either by prominently posting a notice of such changes prior to implementing the change or by directly sending you a notification. We encourage you to periodically review this statement to be informed of how DataForce, Inc. is protecting your information.</p>
             
    </div>
</body>
</html>